.fi-header.fi-header.fi-header-has-breadcrumbs {
    display: none!important;
}
    .fi-main.fi-width-full {
        padding: 0rem !important;
    }
    .fi-page-header-main-ctn {
        padding: 0rem !important;
    }
